recursive-include pretalx_social_auth/static *
recursive-include pretalx_social_auth/templates *
exclude pretalx_social_auth/locale/django.pot
recursive-include pretalx_social_auth/locale *
recursive-include pretalx_social_auth *.py
include Makefile
